.movie-logo {
    background-color: grey;
}

.space-right {
    flex: 1 1 auto;
}

.side-nav {
    background-color: #dddddd;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.side-nav-pane {
    background-color: var(--primary);
}

.side-nav-text {
    color: white;
    font-weight: normal;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.mat-divider {
    border-top-width: 3px;
    background-color: #fffccc;
}

.movie-icon {
    margin-right: 10px;
}

.welcome-message {
    color:white;
    padding: 5px;
}

.mat-expansion-panel {
    background-color: var(--primary);
    color: white;
}

// mat-expansion-panel-header > span.mat-content > mat-panel-title {
//     color: white;
// }

.mat-expansion-panel-header-title {
    color: white
  }

.mat-panel-title {
    color: white;
}

