<mat-sidenav-container class="side-nav">
    <mat-sidenav class="side-nav-pane" #sidenav mode="side" [(opened)]="sideNaveOpened">
        <div>
            Welcome {{displayName | async}}
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <div>
            <mat-toolbar color="primary">
                <mat-toolbar-row>
                    <!-- TODO: need to style this -->
                    <button class="mat-mini-fab" *ngIf="isLoggedIn | async" (click)="sidenav.toggle()" mat-icon-button
                        aria-label="Button to open side nav">
                        <mat-icon aria-hidden="false" aria-label="menu">menu</mat-icon>
                    </button>
                    <span class="space-right"></span>
                    <!-- <mat-icon mat-card-avatar aria-hidden="false" aria-label="notifications">email</mat-icon> -->
                    <button class="mat-mini-fab" *ngIf="isLoggedIn | async" mat-icon-button
                        aria-label="button to view notifications">
                        <mat-icon aria-hidden="false" aria-label="email">email</mat-icon>
                    </button>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
        <div>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>