<div fxLayout="row" fxFlex="30%">
</div>
<mat-card fxFlex="40%" class="login-form">
    <div fxLayout="column">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div fxLayout="row">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" formControlName="username">
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" type="password" formControlName="password">
                </mat-form-field>
            </div>

            <button mat-button type="submit" [disabled]="!loginForm.valid">Submit</button>

        </form>
    </div>
</mat-card>

<div fxLayout="row" fxFlex="20%">
</div>