<div class="login-box" fxLayoutAlign="center center">
    <mat-card fxFlex="35%" class="login-form">
        <div fxLayout="column">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-form-field id="username" appearance="outline">
                        <mat-label>Username/Email</mat-label>
                        <input matInput placeholder="Placeholder" formControlName="username">
                        <mat-hint>Enter your Username or Email</mat-hint>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-form-field id="password" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Placeholder" formControlName="password">
                        <mat-hint>Enter your password</mat-hint>
                    </mat-form-field>
                </div>


                <div class="login-button">
                    <button mat-button type="submit" [disabled]="!loginForm.valid">Login</button>
                </div>

            </form>
        </div>
    </mat-card>

</div>