.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .login-form {
      margin: 40px;
  }

  .login-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  // Add gradient background formula
  .bg-formula {

  }

  #username {
    padding-top: 20px;
    margin: 15px;
  }

  #password {
    padding-top: 20px;
    margin: 15px;
  }

  .mat-form-field {
    width: 100%;
  }

  .login-box {
    height: 100%;
  }