<mat-card class="table-card">
    <mat-card-title-group color="warm">
        <mat-card-title>Time to write a review</mat-card-title>
        <mat-card-subtitle>Oh Yes!</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
        <form novalidate class="form-full-width" [formGroup]="reviewForm">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-form-field class="movie-details-field" fxFlex="50%">
                    <input matInput placeholder="Movie Title" readonly="true" [(value)]="movie.title">
                </mat-form-field>
                <mat-form-field fxFlex="50%">
                    <input matInput placeholder="Release Year" readonly="true" [(value)]="movie.year">
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex>
                    <textarea matInput placeholder="Review" formControlName="review"></textarea>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="30%">
                    <input matInput placeholder="Rating" formControlName="rating" type="number">
                </mat-form-field>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button class="submit-buttons" (click)="submitReview()" mat-button>Submit Review</button>
    </mat-card-actions>
</mat-card>